* {
  box-sizing: border-box;
}

:root {
  font-family: "Karla", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  min-height: 4rem;
  width: 100%;
  align-content: flex-start;
  justify-content: center;
  background-color: white;
}
.form-control {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.text-neutral-content {
  color: rebeccapurple;
  background-color: white;
}

.avatar img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-color: white;
}

.gif {
  height: auto;
  max-width: 40px;
}

.footer {
  display: flex;
  align-items: center;
  min-height: 4rem;
  width: 100%;
  align-content: flex-start;
  justify-content: center;
  background-color: white;
}

.weather1 {
  font-weight: bold;
  margin-right: 15px;
  color: rgb(149 93 149);
  text-align: center;
}

.gap-2 {
  gap: 0.4rem;
}
.p-4 {
  padding: 0.3rem;
}
.p {
  margin-top: initial;
}

.text-bold {
  font-weight: 700;
}
.thead {
  color: rgb(192, 63, 24);
  font-weight: bold;
  font-size: medium;
}
@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}

.main {
  overflow: hidden;
}

.img1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.3);
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.text-bold {
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.h1 {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  color: rgb(15, 15, 15);
}

.card {
  margin: 7px;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 0.8;
  background-color: rgb(166 174 203);
  max-height: 400px;
  overflow-y: auto;
}

.h3 {
  margin-left: 3cm;
  .rounded-xl {
    border-radius: 0.9rem;
  }
}
.rounded-sm {
  border-radius: 0.125rem;
  font: -webkit-control;
}

.shadow-gray-500 {
  --tw-shadow-color: #020202;
}

.carousel {
  display: ruby-text;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  top: 0;
}
.justify-center {
  justify-content: center;
}
.background {
  background-color: black;
}
